.background{
    width: 100vw;
    height: 88vh;
    background: var(--background);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.separador {
    height: 100%;
    width: 3px;
    background-color: rgba(0, 0, 0, 40%);
    border-radius: 3px;
}

.usuariosSection, .formSection {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding: 10px;
}

.sectionHeader {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-color: var(--blue);
    padding: 10px;
    border-radius: 5px;
}
.usuariosList {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.usuariosList::-webkit-scrollbar {
    width: 5px;
}
.usuariosList::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 40%);
    border-radius: 5px;
}
.usuariosList::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
}

.usuarioCard {
    position: relative;
    border: 1px solid var(--blue);
    width: 100%;
    background: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.habilitado {
    display: flex;

}
.habilitado span {
    color: var(--blue);
}

.habilitado span:hover {
    cursor:pointer;
}

.iconButtonsContainer {
    position: absolute;
    display: flex;
    right: 10px;
    gap: 20px;
}

.iconButton {
    color: var(--blue);
}

.iconButton:hover {
    cursor: pointer;
}

.form {
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.inputWrapper {
    width: 100%;
    font-size: 18px;
    position: relative;
}

.inputWrapper input{
    position: relative;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 40%);
    background: white;
    padding: 10px;
}
.inputWrapper select{
    position: relative;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 40%);
    background: white;
    padding: 0px;
}

.inputWrapper span {
    top: 50%;
    right: 0;
    margin-right: 10px;
    position: absolute;
    color: black;
}
.inputWrapper span:hover {
    cursor: pointer;
}

.error {
    position: absolute;
    color: var(--red);
    font-size: small;
}

.buttonsContainer {
    display: flex;
    width: 100%;
    gap: 20px;
    position: relative;
}
.buttonsContainer button {
    color: white;
    background: var(--blue);
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: ease-in-out .1s;
}
.buttonsContainer button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.acceptButton {
    width: 100%;
    font-size: 16px;
}

.acceptButton:disabled {
    background: var(--gray);
}

.acceptButton:disabled:hover {
    cursor: not-allowed;
    scale: 1;
    transform: translateY(0px)
}

.resetButton:disabled {
    background: var(--gray);
}

.resetButton:disabled:hover {
    cursor: not-allowed;
    scale: 1;
    transform: translateY(0px)
}

.spinner {
    width: 30px;
    height: 30px;
    border: 5px solid rgba(0, 0, 0, 60%);
    border-top: 5px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.erase {
    animation: rotate .5s ease-out forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}