.notification {
    position: fixed;
    top: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    transform: translateY(-100%);
    color: white;
    z-index: 9999;
    animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform:  translateY(0px);
    }
}
@keyframes slideUp {
    from {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.notification.exit {
    animation: slideUp 0.5s ease-in forwards;
}