.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .carousel {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
  }
}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
}


