.pageContainer {
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.background {
    background: var(--background);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.background::-webkit-scrollbar {
    width: 10px;  /* altura de la barra */
}
.background::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
}
.background::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 30%);
    border-radius: 5px;
}

.contentHeader {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.searchContainer {
    width: 25%;
    position: relative;
    display: inline-block;
    position: relative;
    transition: width .3s ease-in-out;
}
.searchContainer:focus-within {
    width: 80%;
}

.searchContainer span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
    font-size: 22px;
}

.searchInput {
    width: 100%;
    font-size: 16px;
    padding: 8px 12px 8px 40px;
    border: none;
    border-radius: 20px;
}

.searchInput:focus {
    outline: 1px solid rgba(0, 0, 0, 40%);
}

.noHayProductos {
    font-size: 20px;
}

.contentBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sectionTitle {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitle h3 {
    font-size: 20px;
    font-weight:normal;
    pointer-events: none;
}

.titleHr {
    width: 0;
    height: 3px;
    border-radius: 5px;
    background: black;
    transition: width .3s ease-in-out;
}

.sectionTitle:hover {
    cursor: pointer;
}

.sectionTitle:hover .titleHr {
    width: 100%;
}