.background {
    width: 100vw;
    height: 88vh;
    background: var(--background);
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.contentHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 15%;
}

.contentHeader h3 {
    width: 100%;
    flex: 1;
    background: white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}

.headerGroup {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.productCount {
    background: white;
    border-radius: 5px;
    padding: 5px;
}

.selectWrapper {
    display: flex;
    gap: 5px;
    background: white;
    border-radius: 5px;
    padding: 5px;
}

.selectWrapper select {
    border: 1px solid rgba(0, 0, 0, 40%);
}

.selectWrapper select:focus {
    outline: 2px solid var(--blue);
}


.contentBody {
    position: relative;
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.contentBody::-webkit-scrollbar {
    width: 10px;  /* altura de la barra */
}
.contentBody::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
}
.contentBody::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 30%);
    border-radius: 5px;
}

.noProducts {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    text-align: center;
}