.container {
    position: relative;
    width: 100vw;
    height: 12vh;
    background: var(--gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    height: 100%;
}

.titleSection, .optionsSection {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.titleContainer {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 3px
}

.titleContainer h1:nth-child(2) {
    color: black;
}

.titleSection:hover {
    cursor: pointer;
}
.titleSection:hover .titleContainer h1:nth-child(2) {
    color: #ffffff;
}

.icons{
    color: #ffffff;
    font-size: 40px;
}

.icons:hover {
    cursor: pointer;
}

.buttonCarrito {
    position: relative;
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 5px 15px;
}

.carritoNumber{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: var(--red);
    color: white;
}

.buttonCarrito:hover {
    cursor: pointer;
    background-color: white;
}

.buttonCarrito:hover span{
    color: black;
}

.buttonCarrito.active {
    background-color: white;
}

.buttonCarrito.active span {
    color: black;
}

.searchContainer {
    width: 25%;
    position: relative;
    display: inline-block;
    position: relative;
    transition: width .3s ease-in-out;
}
.searchContainer:focus-within {
    width: 50%;
}

@media (max-width: 900px) {
    .searchContainer {
        width: 10%;
        position: relative;
        display: inline-block;
        position: relative;
        transition: width .3s ease-in-out;
    }
    .searchContainer:focus-within {
        width: 1fr;
    }
}

.searchContainer span {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
    font-size: 22px;
}

.searchInput {
    width: 100%;
    font-size: 16px;
    padding: 8px 12px 8px 40px;
    border: none;
    border-radius: 20px;
}

.searchInput:focus {
    outline: 1px solid rgba(0, 0, 0, 40%);
}