.dropdownContainer {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
  z-index: 100000000;
}
.dropdownOption {
  padding: 10px;
}
.dropdownOption:hover {
  background: var(--gray);
  cursor: pointer;
  color: white;
}
