.background {
    width: 100vw;
    height: 88vh;
    background: var(--background);
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.background::-webkit-scrollbar {
    width: 10px;  /* altura de la barra */
}
.background::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
}
.background::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 30%);
    border-radius: 5px;
}

.productContainer {
    position: relative;
    display: flex;
    width: 80%;
    height: 100%;
    background: white;
    border: 1px solid rgba(0, 0, 0, 40%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 20%);
    padding: 5px;
    gap: 20px;
}

.onSaleTag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    top: 5px;
    left: 5px;
    background: var(--red);
    color: white;
    border: none;
    border-radius: 50%;
}

.imgContainer {
    width: 40%;
}

.productInfo {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 60%;
}

.productTitle {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}
.productTitle h3{
    width: 100%;
    font-size: 22px;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
}

.productPriceAndAdd {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
}

.productPrice {
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.onSalePrice {
    font-weight: normal;
    color: gray;
    text-decoration: line-through;
}


.inputWrapper {
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.inputWrapper input {
    width: 10%;
    text-align: center;
    height: fit-content;
    font-size: 16px;
    padding: 0px 5px;
    border: none;
    pointer-events: none;
    border-radius: 5px;
}

.inputWrapper input:focus {
    border:none;
    outline: 2px solid var(--blue);
}

.inputButton {
    color: var(--blue);
    font-weight: bold;
}
.inputButton:hover{
    cursor: pointer;
}

.shoppingCartButton {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: var(--blue);
    color: white;
    transition: .1s ease-in-out;
}

.shoppingCartButton:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.productDetails {
    width: 100%;
    height: 50%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
}

.productDetailsHeader{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.productDetailsHeader p{
    padding: 5px;
    width: 100%;
    height: 100%;
    transition: .1s ease-in-out;
}

.productDetailsHeader p:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

.activeDetailsTag {
    border: 1px solid var(--blue);
    border-bottom: none;
    color: var(--blue);
}

.activeDetailsTag:hover {
    cursor: default !important;
    transform: translateY(0px) !important;
}

.productDetailsContent {
    max-height: initial;
    overflow-y: auto;
    flex: 1;
    border: 1px solid var(--blue);
    padding: 10px;
}

.productDetailsContent::-webkit-scrollbar {
    width: 5px;  /* altura de la barra */
}
.productDetailsContent::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
}
.productDetailsContent::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 30%);
    border-radius: 5px;
}

.detailsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listClickeable {
    transition: .1s ease-in-out;
}
.listClickeable:hover {
    cursor: pointer;
    transform: translateX(3px);
}

.detailsDescription {
    width: 100%;
    max-height: 100%;
}

.detailsDescription p {
    overflow-wrap: break-word;
    white-space: normal;
    width: 100%;
    padding-right: 1px;
}

.otherProducts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}


.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sectionTitle {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitle h3 {
    font-size: 20px;
    font-weight:normal;
    pointer-events: none;
}

.titleHr {
    width: 0;
    height: 3px;
    border-radius: 5px;
    background: black;
    transition: width .3s ease-in-out;
}

.sectionTitle:hover {
    cursor: pointer;
}

.sectionTitle:hover .titleHr {
    width: 100%;
}

@media (max-width: 900px) {
    .productContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 450px;
        background: white;
        border: 1px solid rgba(0, 0, 0, 40%);
        border-radius: 5px;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 20%);
        padding: 20px;
        gap: 20px;
    }
    .imgContainer{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .productInfo {
        height: 100%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }
    .productTitle h3{
        width: 100%;
        font-size: 16px;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: normal;
    }
    .productPrice {
        display: flex;
        gap: 10px;
        font-size: 14px;
        font-weight: bold;
        color: black;
    }

    .inputWrapper {
        display: flex;
        gap: 10px;
        font-size: 14px;
    }
    .inputWrapper input {
        width: 30%;
        text-align: center;
        height: fit-content;
        font-size: 16px;
        padding: 0px 5px;
        border: none;
        pointer-events: none;
        border-radius: 5px;
    }
    .productDetails {
        width: 100%;
        max-height: 300px;
        display: flex;
        flex-direction: column;
    }
    .productDetailsContent {
        height: 200px;
        max-height: 200px;
        overflow-y: auto;
        flex: 1;
        border: 1px solid var(--blue);
        padding: 10px;
    }
    .detailsDescription {
        max-height: 100px;
    }
    .productDetailsHeader{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .detailsList {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
    }
    .detailsDescription p {
        overflow-wrap: break-word;
        white-space: normal;
        width: 100%;
        padding-right: 1px;
        font-size: 14px;
    }
}